<div class="row">
    <h1 class="text-center">Proyectos</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1 mb-5">
            <h2>Carrito de Compras - HTML, CSS Y JS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro animi facere alias cupiditate repudiandae, voluptate quisquam ut! Officia quasi quae vero dolorum corrupti perspiciatis ex. Cum alias consectetur illum blanditiis.</p>

        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 mb-5">
            <img src="../../../assets/CARRITO.png" class="img-fluid img-proyecto">
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1 mb-5">
            <h2>Carrito de Compras - HTML, CSS Y JS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro animi facere alias cupiditate repudiandae, voluptate quisquam ut! Officia quasi quae vero dolorum corrupti perspiciatis ex. Cum alias consectetur illum blanditiis.</p>

        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 mb-5">
            <img src="../../../assets/CARRITO.png" class="img-fluid img-proyecto">
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1 mb-5">
            <h2>Carrito de Compras - HTML, CSS Y JS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro animi facere alias cupiditate repudiandae, voluptate quisquam ut! Officia quasi quae vero dolorum corrupti perspiciatis ex. Cum alias consectetur illum blanditiis.</p>

        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 mb-5">
            <img src="../../../assets/CARRITO.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>