<div class="row justify-content-center">
    
    <h1 class="text-center col-12 mb-5 mt-5">Proyectos</h1>

    <div class="col-8 mt-5 mb-5">
        <h2>Carrito de Compras - HTML, CSS Y JS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro animi facere alias cupiditate repudiandae, voluptate quisquam ut! Officia quasi quae vero dolorum corrupti perspiciatis ex. Cum alias consectetur illum blanditiis.</p>
    </div>  
    <div class="col-4 mt-5 mb-5">
        <img src="../../../assets/CARRITO.png" class="img-proyecto">
    </div>



    <div class="col-8 mt-5 mb-5">
        <h2>Carrito de Compras - HTML, CSS Y JS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro animi facere alias cupiditate repudiandae, voluptate quisquam ut! Officia quasi quae vero dolorum corrupti perspiciatis ex. Cum alias consectetur illum blanditiis.</p>
    </div>  
    <div class="col-4 mt-5 mb-5">
        <img src="../../../assets/CARRITO.png" class="img-proyecto">
    </div>



    <div class="col-8 mt-5 mb-5">
        <h2>Carrito de Compras - HTML, CSS Y JS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro animi facere alias cupiditate repudiandae, voluptate quisquam ut! Officia quasi quae vero dolorum corrupti perspiciatis ex. Cum alias consectetur illum blanditiis.</p>
    </div>  
    <div class="col-4 mt-5">
        <img src="../../../assets/CARRITO.png" class="img-proyecto">
    </div>
</div>
