<div class="container-fluid">
    <a href=""><img src="../../../assets/linkedin.png"></a>
    <a href=""><img src="../../../assets/twitter.png"></a>
    <a href=""><img src="../../../assets/instagram.png"></a>
    <a href=""><img src="../../../assets/github.png"></a>
    <a href=""><img src="../../../assets/facebook.png"></a>

    <button type="button" class="btn btn-outline-primary" id="iniciar" (click)="login()" *ngIf="!isLogged">INICIAR SESIÓN</button>
    <button type="button" class="btn btn-outline-primary" id="iniciar" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
</div>