
<div class="row justify-content-around fluid">
    <h1 class="col-12 text-center">Hard & SoftSkills</h1>
    <circle-progress
        [percent]="50"
        [radius]="100"
        [showSubtitle]="false"
        [showTitle]="false"
        
        [imageSrc]="'../assets/HTML.png'"
        [showImage]="true"
        [imageHeight]="150"
        [imageWidth]="150"
        
        [titleColor]="'red'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>

    <circle-progress
        [percent]="85"
        [radius]="100"
        [showSubtitle]="false"
        [showTitle]="false"
        
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="150"
        [imageWidth]="150"

        [titleColor]="'red'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>

    <circle-progress
        [percent]="85"
        [radius]="100"
        [showSubtitle]="false"
        [showTitle]="false"
        
        [imageSrc]="'../assets/JAVASCRIPT.png'"
        [showImage]="true"
        [imageHeight]="150"
        [imageWidth]="150"

        [titleColor]="'red'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>




    <div class="row justify-content-around fluid">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [showSubtitle]="false"
        [showTitle]="false"
        
        [imageSrc]="'../assets/ANGULAR.png'"
        [showImage]="true"
        [imageHeight]="150"
        [imageWidth]="150"

        [titleColor]="'red'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>

    <circle-progress
        [percent]="85"
        [radius]="100"
        [showSubtitle]="false"
        [showTitle]="false"
        
        [imageSrc]="'../assets/SQL.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="150"

        [titleColor]="'red'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>

    <circle-progress
        [percent]="85"
        [radius]="100"
        [showSubtitle]="false"
        [showTitle]="false"

        [imageSrc]="'../assets/NODE.png'"
        [showImage]="true"
        [imageHeight]="150"
        [imageWidth]="150"

        [titleColor]="'red'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>

</div>