
.row{
    background-color: #0d2c3e;
    text-align: center;
    padding:20px;
}



#nombre{

    font-weight: bold;
    text-align: center;
    margin-top: 55%;

    color: #ccc;
}

#titulo{
    font-weight: bold;

    text-align: center;
    color: #ccc;
}


p{
    color: #ccc;
    text-align: center;
}
@media (min-width: 576px){
    #fotoPerfil{
        position:absolute;
        width: 15rem;
        left: 5%;
        bottom: 20rem;
        border-radius: 100%;
        margin-top: 15px;
        box-shadow: 3px 3px 3px black;
    }
    #nombre{
        font-weight: bold;
        margin-top: 15%;
        text-align: center;
        margin-left: 35%;
    }
    #titulo{
        margin-left: 35%;
    }
    .acerca{
        text-align: center;
        margin-left: 35%;
        color: white;
    }
}

@media (max-width: 575px){
    #fotoPerfil{
        position: absolute; 
        left: 100px;
        bottom: 35px;

        height: 35vh;
        width: 35vh;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        margin-top: 10%;
        

    }
    #nombre{
        font-weight: bold;
        margin-top: 15%;
        text-align: center;

    }
    .acerca{
        color:white;
    }
}
