
<div class="row">


            <img src="../../../assets/perfilFoto.png" class="img-fluid" id="fotoPerfil">



        <div class="col-sm-12 col-md-2 col-lg-2">
            <p id="nombre">{{this.persona.nombre}} {{this.persona.apellido}}</p>
            <p id="titulo">Full Stack Developer Jr.</p>
        </div>


        <div class="col-sm-12 col-md-8 col-lg-8">
            <span>
                <h1 class="acerca">Acerca de mí</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ipsam a, deleniti, 
                    dolores vero itaque quibusdam quidem perspiciatis et numquam totam facere, explicabo 
                    id recusandae possimus assumenda nesciunt omnis consequuntur.</p>
                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ipsam a, deleniti, 
                    dolores vero itaque quibusdam quidem perspiciatis et numquam totam facere, explicabo 
                    id recusandae possimus assumenda nesciunt omnis consequuntur.</p>
            </span>
        </div>


    </div>
