<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-md-12">
        <ul>
            <li>
                <h1>Trabajo</h1> - <h3>(years)</h3>
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt 
                dicta expedita, labore minus libero laboriosam ut consectetur veritatis quaerat 
                hic tenetur eligendi eos voluptatem debitis? Facilis nobis quaerat sunt voluptatibus.
            </li>
        </ul>
        <ul>
            <li>
                <h1>Trabajo</h1> - <h3>(years)</h3>
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt 
                dicta expedita, labore minus libero laboriosam ut consectetur veritatis quaerat 
                hic tenetur eligendi eos voluptatem debitis? Facilis nobis quaerat sunt voluptatibus.
            </li>
        </ul>
        <ul>
            <li>
                <h1>Trabajo</h1> - <h3>(years)</h3>
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt 
                dicta expedita, labore minus libero laboriosam ut consectetur veritatis quaerat 
                hic tenetur eligendi eos voluptatem debitis? Facilis nobis quaerat sunt voluptatibus.
            </li>
        </ul>
    </div>
</div>